[defaults]
inventory = /Users/tripurakant/scripts/ansible/ansible/ansible/Udemy/RHCE/inventory
remote_user = ec2-user
roles_path = /Users/tripurakant/scripts/ansible/ansible/ansible/Udemy/RHCE/roles
ask_pass = false
host_key_checking = false


[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
