This is the system {{ ansible_facts['fqdn'] }}
This is the {{ ansible_facts['distribution'] }} and version {{ ansible_facts['distribution_version'] }} system.

You can use this with admin privileges

you can request access from {{ admin_owner }}